body { 
    background-image: url("../img/BG.jpg")!important;
    background-attachment: fixed;
  } 
.m{
    margin-right: 5em;
    margin-left: 5em;
    color:gray;
}
.fcenter{
    margin-right: auto;
    margin-left: auto;
}
.v{
    margin: auto;
    color:gray;
}
.karta{
    color: lightgray;
}
/*(i,i1) místo center*/
.i{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
}
.i1{
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}
nav{
    border-color:goldenrod;
    /*
    border-width: 5px;
    */
}
table, th, td {
    border: 1px solid goldenrod;
    border-collapse: collapse;
  }
.tzs{
    top: 20px;
    right: 20px;
    position: sticky;
    position: fixed;
}
.tzs1{
    top: 50px;
    right: 20px;
    position: sticky;
    position: fixed;
}
.tzs2{
    border: none;
}
.tz{
    background-image: url("../img/BG.jpg")!important;
    background-attachment: fixed;
    color: goldenrod !important;
    border-color: goldenrod !important;
    /*
    border-width: 5px;
    */
}
.tz0{
    color: goldenrod !important;
    border-color: goldenrod !important;
    /*
    border-width: 5px;
    */
}
.tz1{
    background-attachment: fixed;
    color: goldenrod;
    background-image: url("../img/BG.jpg");
    line-height: 2;
    border: none;
}

/*
.bi{
    border-image:url("img/BG.jpg")30 fill!important;
}
*/
.h{
    margin-left: 5em;
    margin-right: 5em;
    display: block;
}
.hhh{
    margin-left: 5em;
    margin-right: 5em;
    display: center;
}
a:hover{
    border-image:url("../img/BG.jpg")fill!important;
    color: yellowgreen;
    text-decoration-line: none;
}
body a:hover{
    color: yellowgreen !important;
    border-color: yellowgreen!important;
}
div img:hover{
    border-color: yellowgreen!important;
}
nav a:hover{
    border-color: yellowgreen!important;
    color: yellowgreen !important;
}
#myUL{
    text-decoration: none;
    list-style-type: none;
}
.ns{
    font-size: 150%;
  }
.nn{
    font-size: 125%;
}
div a img:hover{
    color: yellowgreen !important;
    border-color: yellowgreen !important;
}
button i:hover{
    color: yellowgreen !important;
    border-color: yellowgreen !important;
}
nav form :hover{
    border-color:yellowgreen!important;
    color: yellowgreen !important;
}
/*
div div div a:hover{
    color: yellowgreen !important;
}
*/
.z{
color: yellowgreen;
}
.nadpis{
    text-align: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centeredi{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.o{
    position: absolute;
}
.or{
    margin: 1em;
}
  /*
hr{
    border-width: 5px;
}

.b{
    border-width: 5px !important;
}
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
[class*="i1"] {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
 [class*="i2"] {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
  [class*="i3"] {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
[class*="i1"] {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
 [class*="i2"] {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
  [class*="i3"] {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    [class*="i1"] {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0.5em;
      }
     [class*="i2"] {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0.5em;
      }
      [class*="i3"] {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0.5em;
      }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
